/**
 *
 * CUSTOM CSS 
 *
 * Realizado por Luis Camargo
 *
 */

/*----------  ELEMENTS  ----------*/

h1, h2, h3, h4, h5, h6 {  
	font-family: 'montserrat', Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

a {
	color: #c52a2a;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #7a0d0d;
	border-color: #7a0d0d;
	text-decoration: none;
}

label {
	color: #7a0d0d;
}

dd {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.dl-horizontal {
	margin: 0;
	padding: 0;
}

.modal-title {
	color: #7a0d0d;
}

/*----------  HEADER  ----------*/

#header {
	position: relative;
	color: #fff;
	background-image: url('../img/header-img.jpg');
	background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 100px 0;
  font-size: 1.8em;
  text-shadow: -1px 1px 0 #2d2d2f;
  margin-bottom: 40px;
}

#header .container .row {
	position: relative;
	z-index: 10;
}

.header-title {
	font-size: 3.5em;
}

.header-title span.subtitle {
	font-size: 0.8em;
	letter-spacing: -5px;
}

.header-title span.v-letter {
	font-size: 1.3em;
	font-weight: 700;
	color: #c52a2a;
}

.v-hr {
	width: 30%;
	border-color: #c52a2a;
}

/*----------  CONTENT  ----------*/

	.v-panel {
		border-left: 10px #c52a2a solid;
		position: relative;
	}

	.a-villain {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 15px 0;
    border-bottom: 1px #c52a2a solid;
  overflow: hidden
  text-overflow: ellipsis
	}

	.a-villain:last-child {
		border-bottom: none;
	}

	.v-description {
		border-right: 1px #c52a2a solid;
	}

	#previewImageContainer p {
		margin-top: 15px;
	}

	#previewImage {
		display: block;
	    -webkit-transition: all 0.4s ease;
	    -moz-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	    z-index: 2;
	    max-width: 200px;
	    min-height: 200px;
	    max-height: 200px;
	}

	#avatarInput {
		display: none;
	}

	#previewImage:hover {
		opacity: 0.5;
		cursor: pointer;
	}

	.modal-result-icon {
		font-size: 12em;
		color: #c52a2a;
		margin-bottom: -50px;
		margin-top: -40px;
	}
/*----------  FOOTER  ----------*/

footer span {
	color: #c52a2a;
}

/*----------  UTILS  ----------*/

.v-link {
	padding-bottom: 5px;
	border-bottom: 3px #c52a2a solid; 
}

.v-link:hover {
	
	border-color: #7a0d0d
	
}

.background-overlay{
	background:none repeat scroll 0 0 #242434;
	height:100%;opacity:0.5;
	position:absolute;
	right:0;
	top:0;
	width:100%;
	z-index:9;
}

@media all and (max-width: 768px) {
	.header-title {
		font-size: 2.2em;
	}
	#header {
		font-size: 1.5em;
	}
	.a-villain {
		display: block;
	}
	.v-description {
		border: none;
		margin-top: 25px !important;
		margin-bottom: 25px !important;
	}
	.a-villain img {
		margin: 0 auto;
	}
}

@media all and (max-width: 360px) {
	#header {
		font-size: 1.2em;
	}
}